<div>
<%=  @teams.each do |teams| %>  


  
<p>Week <%= games["gameWeek"] %></p>
<p><%= games["gameDate"] %></p>
<p><%= games["homeTeam"] %> vs. <%= games["awayTeam"] %></p>

  
     

</div>

<% end %>
