<p id="notice"><%= notice %></p>

<h1>Listing Picks</h1>

<table>
  <thead>
    <tr>
      <th>Games</th>
      <th>Team names</th>
      <th>Weeks</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @picks.each do |pick| %>
      <tr>
        <td><%= pick.games %></td>
        <td><%= pick.team_names %></td>
        <td><%= pick.weeks %></td>
        <td><%= link_to 'Show', pick %></td>
        <td><%= link_to 'Edit', edit_pick_path(pick) %></td>
        <td><%= link_to 'Destroy', pick, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

